.App {
  text-align: center;
  margin: 0 65px;
  padding: 24px;

    background-color: #1e3d61;
    height: 100vh;

}



.header {
  color: #ba8824;
}
.left {
  width: 50%;
  font-size: 3.5em;
}

.right {
  text-align: right;

}

.select {
  font-size: 2em;
}


.message {
  font-size: 2em;
}

.header-top {
  text-align: right;

}

button.start-game {
  padding: 16px;
  margin-top: 14px;
  font-size: 2em;
  background:transparent;
  border-radius: 5px;
  color: #dde6ef;

}

.word-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrong-guesses {
  margin: 80px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrong-guess {
  font-size: 3em;
  /* margin:  */
}

.letter-block {
  font-size: 7em;
  width: 120px;
  /* height: 55px; */
  border-radius: 2px;
  border: 1px solid #94958b;
}

.play-link {
  text-decoration: none;
  font-size: 4em;
  color: #ba8824;
}

.guess-form {
  font-size: 2em;
}

.letter-input, form button {
  padding: 14px;

  margin-left: 12px;
}

form button {
  font-size: 12px;
    color: #ba8824;
    background-color: transparent
}
