.App {
  text-align: center;
  padding: 12px;
    background-color: #1e3d61;
    height: 100vh;

}

.header {
  color: #ba8824;
}
.left {
  width: 50%;
  font-size: 3.5em;
}

.right {
  text-align: right;
}

.select {
  font-size: 2em;
}

.choose-difficulty {
  font-size: 40px;
}

.message {
  font-size: 2em;
}

.header-top {
  text-align: right;

}

button.start-game {
  padding: 16px;
  margin-top: 14px;
  font-size: 2em;
  background:transparent;
  border-radius: 5px;
  color: #dde6ef;

}

.word-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrong-guesses {
  margin: 35px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.wrong-guess {
  font-size: 2em;
  /* margin:  */
}

.letter-block {
  font-size: 2.8em;
  width: 65px;
  /* height: 55px; */
  border-radius: 2px;
  border: 1px solid #94958b;
}

.play-link {
  display: block; 
  text-decoration: none;
  font-size: 4em;
  color: #ba8824;
}

.letter-input {
    font-size: 1.5em;
    width: 5%;
    margin-top: 15px;
}

.diagram-section {
  display: flex;
}

.diagram-section > * {
  /* margin-top: -11px; */
  flex: 1;
  flex-basis: 100%;
}

.play-link {
  font-size: 2em;
}